@{
    ViewData["Title"] = "Home Page";
}


<div class="row text-center" style="background-color:#79ffff">
    <div class="col-md col-sm-6 mt-4">
        <h4>İş mi arıyorsun? Hiç sorun değil</h4>
        <a href="/User/UyeOl"><p>Bu linkten Üye olabilirsin</p></a>
        <img src="/img/jobs.png" style="width:35vh" />
    </div>
    <div class="col-md col-sm-6 mt-4">
        <h4>İş veren misin? Çalışana mı ihtiyacın var</h4>
        <a href="/Employer/UyeOl"><p>Bu linkten İş veren olabilirsin</p></a>
        <img src="/img/employer.png" style="width:40vh" />
    </div>
</div>

<div class="row">
    <div class="col-md col-sm-6 text-center" style="background-color:#79ffff">
        <h3>Yüzlerce kişinin tercih ettiği web sitesi. Sen de bize katıl!</h3>
    </div>
</div>

