@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/AfterLoginEmployer.cshtml";
}
@using EntityLayer
@model List<CvTablosu>

<p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Filtrele
    </button>
</p>
<div class="collapse" id="collapseExample">
    <div class="card card-body">
        <div class="row">
            <div class="col"><p>Filtrelenecek Sözcüğü giriniz: &nbsp; <input type="text" id="AdSoyad" /></p></div>
            @*<div class="col"><p>Deneyim <input type="text" id="Deneyim" /></p></div>
            <div class="col"><p>Eğitim:&nbsp; <input type="text" id="egitim" /></p></div>
            <div class="col"><p>Sertifikalar <input type="text" id="Sertifikalar" /></p></div>*@
        </div>

    </div>
</div>


<div class="row" id="card">
    @foreach (var item in Model)
    {
        <div class="col-3 mt-2">
            <div class="card mt-2">
                <div class="card-body">
                    <h5 class="card-title">@item.IsimSoyisim</h5>
                    @foreach (var deneyim in item.Deneyimler)
                    {
                        <p><b>Çalıştığı Şirket</b> <br/> @deneyim.FirmaAdi</p>
                        <p><b>Pozisyonu</b><br />@deneyim.Pozisyon</p>
                        <hr />
                    }
                </div>
            </div>
        </div>
    }
</div>


<script>
    $(document).ready(function () {
        $("#AdSoyad").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#card div").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            })
        })
    })
</script>


